{% extends "base.html" %}

{% block page_name %}
    Log In
{% endblock page_name %}

<!--유저가 맞는지 input형식이 맞는지 검삭 -->
{% block content %}
<div class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">
    
    {% include "partials/social_login.html" %}

    {% comment %} <form method="POST" action="{% url "users:login" %}" class="w-full">
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% for error in from.non_field_errors %}
                {{error}}
            {% endfor %}
        {% endif %}

        {% for field in form %}
            <div class="input w-full {% if field.errors %}has_error{% endif %}">
                {{field}}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span class="text-red-700 font-medium text-sm">{{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}

        {{form.email}}
        {% if form.email.errors %}
            {% for error in from.email.errors %}
                {{error}}
            {% endfor %}
        {% endif %}
        
        {{form.password}}
        {{form.password.error}}
        <button class="btn bg-red-500 text-white">Login</button>
    </form> {% endcomment %}
    {% include 'mixins/auth/auth_form.html' with form=form cta="Log in" %}

    <div class="mt-5">
        <span class="mr-2">Don't have an account?</span>
        <a href="{% url "users:signup" %}" class="text-teal-500 font-medium">Sign up</a>
    </div>
</div>
{% endblock content %}